@font-face {
  font-family: "PBSFont";
  src: url("PBSKIDSHeadlineBold.woff") format('woff');
}

.title {
  font-family: PBSFont;
  font-size: 40px;
  text-align: center;
  color: white
}

.subtitle {
  font-family: PBSFont;
  font-size: 16px;
  text-align: center;
  color: white;
}

.flex-container {
    display: flex;
    width: 750px;
    margin: 20px auto;
    resize:both;
    overflow:auto;
}

.show {
    flex: 1;
    border: 5px solid white;
    width: 250px
}  

.episode {
  background-color: #F7D600;
  width: 500px;
  text-align: center;
  font-family: PBSFont;
  font-size: 20px;
  color: white
}

.episodeInfo {
  display: none;
}
        
.episodeTitle:hover ~ .episodeInfo{
  display: block;
}

.clip {
  background-color: #E5296B;
  width: 500px;
  text-align: center;
  font-family: PBSFont;
  font-size: 20px;
  color: white
}

.clipInfo {
  display: none;
}
        
.clipTitle:hover ~ .clipInfo{
  display: block;
}